<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Schedule</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <!--dropdown menu  -->
  <div class="dropdown hide hidden-menu">
    <div class="dropdown-menu drop-menu-div">
      <a class="dropdown-item" onclick="addRowAbove()">Add Row Above</a>
      <a class="dropdown-item" onclick="addRowBelow()">Add Row Below</a>
      <a class="dropdown-item" onclick="removeRow()">Remove Row</a>
      <a class="dropdown-item" onclick="addColumnRight()">Add Column Right</a>
      <a class="dropdown-item" onclick="addColumnLeft()">Add Column Left</a>
      <a class="dropdown-item" onclick="addColumnEnd()">Add Column to End</a>
      <a class="dropdown-item" onclick="removeColumn()">Remove Column</a>
    </div>
  </div>




  <div class="table-responsive text-modifier">
    <div class="text-context text-modifier">
      <button class="btn btn-light" onclick="boldText()" type="button" name="boldButton"><b>B</b></button>
      <button class="btn btn-light" onclick="italicText()" type="button"><b>I</strong></b></button>
      <button class="btn btn-light" onclick="underlineText()" type="button"><b>U</strong></b></button>
      <button class="btn btn-light" onclick="justifyLeft()" type="button"><i class="fas fa-align-left"></i></button>
      <button class="btn btn-light" onclick="justifyCenter()" type="button"><i class="fas fa-align-center"></i></button>
      <button class="btn btn-light" onclick="justifyRight()" type="button"><i class="fas fa-align-right"></i></button>


    </div>


    <div class="dropdown font-color-menu text-modifier">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-palette"></i>
      </button>
      <div class="dropdown-menu text-modifier" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" onclick="setfontColor('#d62c2c')">Red</button>
        <button class="dropdown-item" type="button" onclick="setfontColor('#395bad')">Blue</button>
        <button class="dropdown-item" type="button" onclick="setfontColor('#39ad3b')">Green</button>
        <button class="dropdown-item" type="button" onclick="setfontColor('#000')">Black</button>
      </div>
    </div>
    <div class="dropdown color-menu text-modifier">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-highlighter"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" onclick="setHighlightColor('#ed564b')">Red</button>
        <button class="dropdown-item" type="button" onclick="setHighlightColor('#aaafad')">Gray</button>
        <button class="dropdown-item" type="button" onclick="setHighlightColor('#efe51c')">Yellow</button>
      </div>
    </div>
    <div class="container-fluid">
      <div class="dropdown cell-color-menu text-modifier">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-table"></i>
        </button>
        <div class="dropdown-menu text-modifier" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" onclick="setCellColor('#d61313')">Red</button>
          <button class="dropdown-item" type="button" onclick="setCellColor('#595959')">Gray</button>
          <button class="dropdown-item" type="button" onclick="setCellColor('#ffcd39')">Yellow</button>
          <button class="dropdown-item" type="button" onclick="setCellColor('#fff')">White</button>
        </div>
      </div>
      <div id="tableControls" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
        <div class="container-fluid">

          <div class="container-fluid">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <form class="table-submit-form" action="/" method="post">
                  <header class=" p-4 text-center">
                    <input class="form-control schedule-title" type="text" name="schedule-title" placeholder="Title" value="<%=thisMonthStr%> <%=thisYearStr%>: <%=datesThisWeek[0]%>-<%=datesThisWeek[6]%> ">
                  </header>

                  <table name="schedule" class="table table-condensed table-sm table-bordered table-hover schedule-table">

                    <tbody>


                      <tr class="row_0">
                        <td name="A" class="col_header col_0" contenteditable="true" scope="row"><b>ID</b></td>
                        <td name="B" class="col_header col_1"><b>Name</b></td>
                        <td name="C" class="col_header col_2"><b>Phone</b></td>
                        <td name="D " class="col_header col_3"><b>Position</b></td>
                        <td name="E" class="col_header col_4"><b>Monday<br>
                            <%=datesThisWeek[0]%></b></td>
                        <td name="F" class="col_header col_5"><b>Tuesday<br>
                            <%=datesThisWeek[1]%></b></td>
                        <td name="G" class="col_header col_6"><b>Wednesday<br>
                            <%=datesThisWeek[2]%></b></td>
                        <td name="H" class="col_header col_7 "><b>Thursday<br>
                            <%=datesThisWeek[3]%></b></td>
                        <td name="I" class="col_header col_8"><b>Friday<br>
                            <%=datesThisWeek[4]%></b></td>
                        <td name="J" class="col_header col_9"><b>Saturday<br>
                            <%=datesThisWeek[5]%></b></td>
                        <td name="K" class="col_header col_10"><b>Sunday<br>
                            <%=datesThisWeek[6]%></b></td>

                      </tr>
                      <tr class="row_1">
                        <td name="A" class="col_0" contenteditable="true" scope="row"></td>
                        <td name="B" class="col_1"></td>
                        <td name="C" class="col_2"></td>
                        <td name="D " class="col_3"></td>
                        <td name="E" class="col_4"></td>
                        <td name="F" class="col_5"></td>
                        <td name="G" class="col_6"></td>
                        <td name="H" class="col_7"></td>
                        <td name="I" class="col_8"></td>
                        <td name="J" class="col_9"></td>
                        <td name="K" class="col_10"></td>

                      </tr>
                      <tr class="row_2">
                        <td name="A" class="col_0" contenteditable="true" scope="row"></td>
                        <td name="B" class="col_1"></td>
                        <td name="C" class="col_2"></td>
                        <td name="D " class="col_3"></td>
                        <td name="E" class="col_4"></td>
                        <td name="F" class="col_5"></td>
                        <td name="G" class="col_6"></td>
                        <td name="H" class="col_7"></td>
                        <td name="I" class="col_8"></td>
                        <td name="J" class="col_9"></td>
                        <td name="K" class="col_10"></td>

                      </tr>
                      <tr class="row_3">
                        <td name="A" class="col_0" contenteditable="true" scope="row"></td>
                        <td name="B" class="col_1"></td>
                        <td name="C" class="col_2"></td>
                        <td name="D " class="col_3"></td>
                        <td name="E" class="col_4"></td>
                        <td name="F" class="col_5"></td>
                        <td name="G" class="col_6"></td>
                        <td name="H" class="col_7"></td>
                        <td name="I" class="col_8"></td>
                        <td name="J" class="col_9"></td>
                        <td name="K" class="col_10"></td>

                      </tr>
                      <tr class="row_4">
                        <td name="A" class="col_0" contenteditable="true" scope="row"></td>
                        <td name="B" class="col_1"></td>
                        <td name="C" class="col_2"></td>
                        <td name="D " class="col_3"></td>
                        <td name="E" class="col_4"></td>
                        <td name="F" class="col_5"></td>
                        <td name="G" class="col_6"></td>
                        <td name="H" class="col_7"></td>
                        <td name="I" class="col_8"></td>
                        <td name="J" class="col_9"></td>
                        <td name="K" class="col_10"></td>

                      </tr>
                      <tr class="row_5">
                        <td name="A" class="col_0" contenteditable="true" scope="row"></td>
                        <td name="B" class="col_1"></td>
                        <td name="C" class="col_2"></td>
                        <td name="D " class="col_3"></td>
                        <td name="E" class="col_4"></td>
                        <td name="F" class="col_5"></td>
                        <td name="G" class="col_6"></td>
                        <td name="H" class="col_7"></td>
                        <td name="I" class="col_8"></td>
                        <td name="J" class="col_9"></td>
                        <td name="K" class="col_10"></td>

                      </tr>
                      <tr class="row_6" value="hello">
                        <td name="A" class="col_0" contenteditable="true" scope="row"></td>
                        <td name="B" class="col_1"></td>
                        <td name="C" class="col_2"></td>
                        <td name="D " class="col_3"></td>
                        <td name="E" class="col_4"></td>
                        <td name="F" class="col_5"></td>
                        <td name="G" class="col_6"></td>
                        <td name="H" class="col_7"></td>
                        <td name="I" class="col_8"></td>
                        <td name="J" class="col_9"></td>
                        <td name="K" class="col_10"></td>

                      </tr>
                      <!-- <input type="hidden" name="r0" value="">
                <input type="hidden" name="r1" value="">
                <input type="hidden" name="r2" value="">
                <input type="hidden" name="r3" value= "">
                <input type="hidden" name="r4" value="">
                <input type="hidden" name="r5" value="">
                <input type="hidden" name="r6"> -->
                    </tbody>
                  </table>
                  <button class="btn btn-success publish-schedule-button" type="button" name="button" onclick="getTableContent()">Publish</button>
                  <button class="btn btn-primary" type="button" name="button" onclick="addSchedule()" data-target="#tableControls">New Schedule</button>
                  <button class="btn btn-danger" type="button" name="deletebutton" data-target="#tableControls" data-slide="prev" onclick="" >Delete Schedule</button>
                  <input type="hidden" name="ArrayDate" class="inputDate"value="">
                </form>
              </div>




            </div>
            <a class="carousel-control-prev btn-secondary" href="#tableControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next btn-secondary" href="#tableControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


        </div>
      </div>







      <script type="text/javascript" src="/index.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>





</body>

</html>
